.container{
    position: absolute;
    width: 390px;
    height: 577px;
    left: 0;
    top: 0px;
    background: url(../../../public/assets/img/FPK_device02_PSD_SM_Batch_72.png);
    background-repeat: no-repeat;
  }
.tickgreen{
    position: absolute;
    left: 7.69%;
    right: 84.1%;
    top: 109px;
    background: #C8E6C9;
    border-radius: 50%;
    }
.tick{
    position: absolute;
    left: 9.45%;
    right: 85.45%;
    top: 117.47px;
  }  
.title{
    position: absolute;
    width: 149px;
    height: 30px;
    left: 70px;
    top: 110px;
    margin: 0;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
  }
.status{
    position: absolute;
    width: 329px;
    height: 17px;
    left: 30px;
    top: 156px;
    margin: 0;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
  }
  
.bottom{
    position: absolute;
    background: #0c122a;
    width: 390px;
    left: calc(50% - 390px/2);
    top: 577px;
    height: 374px;
  }
.logo-bottom{
    position: absolute;
    width: 244px;
    height: 46px;
    left: calc(50% - 244px/2);
    bottom: 288px;
    text-align: center;
  }
.content{
    position: absolute;
    width: 366px;
    height: 96px;
    left: calc(50% - 366px/2);
    bottom: 168px;
    margin: 0;
  
    /* highlight-18 */
  
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
  
    text-align: center;
  
    color: #616887;
  }
.facebook{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 60px);
    bottom: 96px;
  }
.twitter{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 20px);
    bottom: 96px;
  }
.telegram{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 + 20px);
    bottom: 96px;
  }
.youtube{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 + 60px);
    bottom: 96px;
  }
.copyright{
    position: absolute;
    width: 248px;
    height: 24px;
    left: calc(50% - 248px/2 + 2px);
    bottom: 40px;
  
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    text-align: center;
  
    color: #616887;
  }